@media screen and (min-width: 768px){
  body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    
    header {
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 2px;
      z-index: 1;
      padding-top: 10px;
      padding-bottom: 2px;
      height: 40px;
      background-color: #fff;
      opacity: 0.8;
    }

    #checkAccount {
      position: relative;
      right: 40px;
    }      
    
    main {
      margin-top: 50px;
    }
    
    button {
      border: none;
      background: none;
      border-radius: 10px;
    }
    #place-bar-mobile #createItineraryBtn:active {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }
    button:hover {
      background-color:#e6e6e6;
    }
    
    #account-selection {
      position: fixed;
      right: 2px;
      top: 60px;
      display: none;
      background-color: #e6e6e6;
      padding: 5px;
      border-radius: 10px;
    }
    
    #content {
      height: 700px;
      display: flex;
      align-items: flex-start;
      overflow: auto;
      position: relative;
      left: 1%;
    }
  
    .left-container {
      display: inline-block;
      position: relative;
      width: 44%;
      height: 700px;
      left: 0;
      padding-left: 2.5%;
      padding-right: 2%;
      overflow: auto;
    }
    .left-container::-webkit-scrollbar {
      width: 6px; 
    }
    .left-container::-webkit-scrollbar-track {
      background-color: #ebebeb;
    }
    .left-container::-webkit-scrollbar-thumb {
      background-color: #a8a8a8;
      border-radius: 5px;
    }
    
    /* #recommendation-box {
      border-radius: 50px;
      padding-top: 0;
      display: flex;
      border-radius: 10px;
      height: 400px;
      width: 100%;
      background-color: #ebebeb;
      overflow-x: auto;
      align-items: center;
      white-space: nowrap;
    } */
    
    /* #recommendation-box span {
      display: inline-block;
      width: auto;
      height: 160px;
      padding-right: 200px;
      margin: 0 10px;
      background-color: gray;
    } */
    
    ul {
      list-style: none;
    }

    .filter-buttons-container{
      top: -20em;
      left: 3vw;
      position: relative;
    }
    
    #mapcon {
      position: relative;
      display: flex;
      right: 0;
      width: 50%;
      height: 100%;
      padding-right: 2.5%;
      text-align: center
    }
  
    .map-container {
      height: 100%;
      width: 100%
    }
    
    #search-box {
      position: relative;
      margin: 10px;;
      text-align: center;
      height: 40px;
      font-size: 15px;
    
    }

    #place-bar-desktop #createItineraryBtn {
      font-size: 18px;
      height: 50px;
      width: 200px;
      border-radius: 10px;
      background-color: #efefef;
      margin: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }
    #place-bar-desktop #createItineraryBtn:active {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }
    #place-bar-desktop #createItineraryBtn:hover {
      background-color:#e6e6e6;
    }

    #place-bar-mobile {
      display: none;
    }
  
    #add-place {
      justify-content: center;
      position: relative;
      display: flex;
      text-align: center;
    }
    
    #add-place button{
      display: flex;
    }
    
    #add-place p {
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      padding-right: 5px;
    }
    
    #add-place svg {
      font-size: 20px;
      margin-top: 18px;
      margin-bottom: 18px;
    }
    
    .add-places {
      display: flex;
      padding: 0 5%;
      align-items: center;
      height: 80px;
      justify-content: space-between;
    }
    
    .details {
      display: inline-block;
    }
    
    .add-details {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: burlywood;
      text-align: center;
    }
    
    .add-details p {
      font-size: 15px;
      font-weight: 500;
    }
  
    .nav-box {
      position: fixed;
      display: flex;
      top: 0;
      z-index: 2;
      justify-content: center;
      left: 34%;
      right: 34%;
    }  
  
    nav {
      padding-top: 1px;
      padding-bottom: 10px;
      position: sticky;
      text-align: center;
    }
    
    ul {
      padding: 0;
    }
    
    #nav-list {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 2px;
    }
  
    #nav-list button {
      border: 1px solid #4281ac;
      border-radius: 50px;
      width: 120px;
      height: 45px;
    }
  
    #nav-list svg {
      font-size: 15px;
      margin-right: 3px;
    }
  
    #nav-list p {
      display: inline-block;
      font-size: 14px;
    }
    
    svg {
      font-size: 30px;
    }
    
    #add-place {
      height: 50px;
    }
    
    /* size of image */
    /* .attraction-image {
      width: 100px; 
      height: 100px; 
    } */

    #recommendations {
      max-height: calc(100vh); 
      overflow-y: auto; /* Allows vertical scrolling if content overflows */
  }
  
    #recommendations::-webkit-scrollbar-thumb {
      background-color: #a8a8a8;
      border-radius: 5px;
  }

    #recommendations::-webkit-scrollbar-track {
      background-color: #ebebeb;
    }

    #recommendation-box {
      display: flex;
      flex-wrap: wrap;
      background-color: #ebebeb;
      overflow-x: auto;
      padding: 20px;
  }

  .attraction {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;
      padding: 20px;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      width: 120px;
      word-break: break-word; /* Break words if they are too long to fit */
  }

  .attraction img {
      width: 100px; 
      height: 100px; 
      object-fit: cover;
      border-radius: 10px;
  }

  .attraction h2 {
      font-weight: bold;
      margin-top: 10px;
      text-align: center;
  }

  .attraction p {
      color: #757575;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
      text-align: center;
  }

  .attraction:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add shadow when hovered */
  }

  .attraction {
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
  }
  
  .attraction:hover {
    color: #373fa8;
    transform: scale(1.03);
  }
  .attraction.selected {
    color: rgb(161, 47, 161);
}

/* Initially hide the label */
.attraction .open-website-label {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.attraction:hover .open-website-label {
  display: block;
}


  .tick-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid lightgray;
    border-radius: 50%;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .attraction.selected .tick-container {
    opacity: 1; 
  }
  
  .tick-icon {
    color: green;
  }
  
  #place-bar-desktop {
    text-align: center;
  }

  .filter-buttons {
    display: inline-block; 
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
    background-color: #4281ac;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    z-index: 100;
}

.filter-buttons:hover {
    background-color: #306a8d;
}
        
}
