body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  background-color: #fff;
}

main {
  margin-top: 50px;
}

#headline {
  padding: 5%;
  padding-bottom: 0;
}

button {
  border: none;
  background: none;
  box-shadow: none;
}
button:active {
  background-color: #aaa;
  border-color: #777;
}

#account-selection {
  position: fixed;
  right: 2px;
  top: 5%;
  display: none;
  background-color: #e6e6e6;
  padding: 5px;
}

#recommendations {
  padding:5%;
  padding-top: 0;
}

#recommendation-box {
  display: flex;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  background-color: #ebebeb;
  overflow-x: auto;
  align-items: center;
  white-space: nowrap;
}

#recommendation-box span {
  display: inline-block;
  width: auto;
  height: 160px;
  padding-right: 200px;
  margin: 0 10px;
  background-color: gray;
}

ul {
  list-style: none;
}

.map-container {
  height: 600px;
  width: 100%
}

#search-box {
  position: relative;
  margin: 10px;;
  text-align: center;
  height: 40px;
  font-size: 15px;

}

.add-places {
  display: flex;
  padding: 0 5%;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.details {
  display: inline-block;
}

.add-details {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: burlywood;
  text-align: center;
}

.add-details p {
  font-size: 15px;
  font-weight: 500;
}

footer {
  width: 100%;
}

nav {
  margin: 10px 20px;
}

ul {
  padding: 0;
}

#nav-list {
  display: flex;
  justify-content: space-between;
}

svg {
  font-size: 30px;
}

#add-place {
  height: 50px;
}

/* size of image */
.attraction-image {
  width: 100px; 
  height: 100px; 
}