@media screen and (max-width: 767px){
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    background-color: #fff;
  }
  
  main {
    margin-top: 50px;
  }
  
  #headline {
    padding: 5%;
    margin-top: 60px;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #headline h1 {
    font-weight: 500;
    font-size: 40px;
  }
  
  #intro {
    font-size: 20px;
    color: #777;
  }
  
  button {
    border: none;
    background: none;
    box-shadow: none;
  }
  button:active {
    background-color: #aaa;
    border-color: #777;
  }
  
  #account-selection {
    position: fixed;
    right: 2px;
    top: 5%;
    display: none;
    background-color: #e6e6e6;
    padding: 5px;
  }
  
  #recommendations {
    padding:5%;
    padding-top: 0;
  }
  #recommendation-box {
    display: flex;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    background-color: #ebebeb;
    overflow-x: auto;
    align-items: center;
  }
  
  .attraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 200px;
    height: 140px;
}

.attraction img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 10px;
}

.attraction h3 {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.attraction p {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.attraction:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Add shadow when hovered */
}

.attraction {
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.attraction:hover {
  transform: scale(1.03);
}

.tick-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid lightgray;
  border-radius: 50%;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.attraction.selected .tick-container {
  opacity: 1; 
}

.tick-icon {
  color: green;
}
  
  ul {
    list-style: none;
  }
  
  .map-container {
    height: 600px;
    width: 100%
  }
  
  #search-box {
    position: relative;
    margin: 10px;;
    text-align: center;
    height: 40px;
  }

  #place-bar-desktop {
    display: none;
  }
  
  #add-place {
    justify-content: center;
    display: flex;
    text-align: center;
  }
  
  #add-place button{
    display: flex;
  }
  
  #add-place p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 5px;
  }
  
  #add-place svg {
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  
  .add-places {
    display: flex;
    padding: 0 5%;
    align-items: center;
    height: 80px;
    justify-content: space-between;
  }
  
  .details {
    display: inline-block;
  }
  
  .add-details {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: burlywood;
    text-align: center;
  }
  
  .add-details p {
    font-size: 15px;
    font-weight: 500;
  }
  
  nav {
    padding-top: 1px;
    padding-bottom: 10px;
    position: sticky;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    height: 50px;
    text-align: center;
  }
  
  ul {
    padding: 0;
  }
  
  #nav-list {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-items {
    display: none;
  }
  
  svg {
    font-size: 30px;
  }
  
  #add-place {
    height: 50px;
  }
  
  /* size of image */
  .attraction-image {
    width: 100px; 
    height: 100px; 
  }
  
  footer {
  
  }  
}

