* {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.root {
  background-color: #f7f7f7;
}


.group_no {
  margin-top: 0.8rem;
  height: 10vh;
  display: block;
  width: 100%;
  text-align: center;
}



.log {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

.log h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

.sub_log {
  width: 100%;
  font-size: 0.8rem;
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  
}




/* 
.line {
  margin-left: 20%;
  margin: 1%;
  margin-top: -5%;
  position: absolute;
  left: 13%;
} */

.root input[type="text"],
.root input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  margin-top: 1rem;
  border: 1px solid grey;
  font-size: 1rem;
  background-color: transparent;
}



.change{
  margin-left: 20%;
  font-size: 24px;
  font-weight: bold;
}

/* .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
} */

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  width: 90%;
  max-height: 600px;
  max-width: 500px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 1rem;
  box-sizing: border-box;
}



span.psw {
  margin-left: 25%;
  font-size: 40px;
  color: grey;
}

.root a:link {
  color: black;
  font-weight: bolder;
  font-size: 45px;
  background-color: transparent;
  text-decoration: none;
}



.blackbutton {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-top: 1.5rem;
  }

.pwdbutton {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-top: 1.5rem;
}


