@media screen and (max-width: 767px){

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        scroll-snap-type: y mandatory;
        margin-top: 0px;
        background-color: #f7f7f7;
    }


    .img{
        width: 100%;
        height: 90vh;
    }

    .titleContainer {
        position: absolute; 
        margin-top: 40%;
        top: 0%; 
        left: 5%; 
        padding-left: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .title {
        font-size: 70px;
        font-weight: bolder;
        color: white;
    }

    .intro {
        font-size: 25px;
        /* font-weight: bolder; */
        color: white;
    }

    .sideIntro {
        font-size: 25px;
        color: white;

    }

    .container2{
        background-color: white;
        border-radius: 20px;
        margin-top: -11em;
        padding: 1%;
        width: 98%;
        margin-bottom: 50px;
        transition: width 0.5s ease;
        z-index: 1;
        position: relative;
        scroll-snap-align: start;
    }


    .container3{
        width: 95%;
    }


    .header {
        margin-left: 35%;
        font-size: 1em;
        font-weight: bold;
        width: 70%;
        margin-top: -35%;
    }
}

@media screen and (min-width: 767px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin-top: 30px;
        background-color: #f7f7f7;
    }
    
    
    .img{
        width: 100%;
        height: 100vh;
    }
    
    .titleContainer {
        position: absolute; 
        margin-top: 40%;
        top: 0%; 
        left: 5%; 
        padding-left: 30px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5%;
        margin-top: 60px;
        padding-bottom: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .title{
        font-size: 100px;
        font-weight: bolder;
        color: white;
    }
    
    .intro{
        font-size: 35px;
        font-weight: bolder;
        color: white;
    }
    .sideIntro {
        font-size: 25px;
        color: white;
        text-align: right;
        font-weight: 600;
    }
    
    .container2{
        background-color: white;
        border-radius: 20px;
        margin-top: -30em;
        padding: 1%;
        width: 98%;
        margin-bottom: 50px;
        transition: width 0.5s ease;
        z-index: 1;
        position: relative;
        scroll-snap-align: start;
        background-color: white;
        position: relative;
    }
    
    .container3{
        width: 100%;
        display: inline-block;
    }
    
    .header {
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
        width: 50%;
        margin-left: 3%;
    }
    

}