.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.header {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.attraction {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: orange;
}

.lunch {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.lunch.selected {
    background-color: orange;
}

.saveHistory {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: rgb(30, 207, 30);
}