.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f7f7f7;
}

.header {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin: 1em auto;
    width: 70%;
}

.img{
    width: 100vw;
    height: 50vh;
}

.title {
    position: absolute; 
    top: 20%; 
    left: 10%; 
}

.itinerary{
    font-size: 65px;
    font-weight: bolder;
    color: white;
}

.day{
    font-size: 40px;
    font-weight: bolder;
    margin-top: -30%;
    color: white;
}

.container2{
    background-color: white;
    border-radius: 10%;
    margin-top: 2em;
    padding: 1em;
    width: 95%;
}

.description, .attraction {
    width: 70%;
    margin: 1em auto;
    font-size: 1em;
}

.img2, .img3, .img4{
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 1em auto;
}

.attraction {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #000dffa4;
    color:white;
}

.saveHistory {
    border: 1px solid #f7f7f7;
    border-radius: 10%;
    padding: 10px;
    margin: 1em auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
}

.restaurantSelector {
    font-size: 1em; 
    background-color: #fff200a4; 
    color: black; 
    padding: 10px;  
    border-radius: 5px; 
    width: 70%;  
    margin: 1em auto; 
}

.saveButton {
    background-color: #5e96ef;
    color: white; 
    font-size: 1em;
    padding: 15px 30px; 
    border-radius: 5px;  
    border: none; 
    cursor: pointer; 
}

.saveButton:hover {
    background-color: #274ae6;
}